<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b6ef7650fd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Twitter</title>
</head>

<body>
    <div class="container">
        <div class="main-header">
            <div class="header-sides">
                <div class="close-icon">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </div>

            </div>
            <div class="main-header-bird">
                <img src="asset/bird.png" alt="">
            </div>
            <div class="header-sides"></div>
        </div>

        <div class="inner-container">
            <h1 id="inner-container-head">Sign in to Twitter</h1>
            <div class="button">
                <div class="sign-in-img">
                    <img src="asset/google.png" alt="google image">
                </div>
                <p>Sign in with Google</p>
            </div>
            <div class="button bold">
                <div class="sign-in-img">
                    <img src="asset/apple.png" alt="apple image">
                </div>
                <p>Sign in with Apple</p>

            </div>

            <div class="line">
                <p>or</p>
            </div>

            <input id="user-info-input" type="text" placeholder="  Phone, email, or username">

            <div class="button bg-black">
                <p>Next</p>
            </div>
            <div class="button bold">
                <p>Forgot Password?</p>
            </div>

            <div id="footer">
                <p>Don't have an account? <a href="#" id="footer-link">Sign in</a></p>
            </div>
        </div>
    </div>
</body>

</html>